@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outline {
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  }
}

@font-face {
    font-family: "gamefont";
    src: url('/client/src//assets/gameFont.otf');
}